body {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #242424;
}

#term {
    z-index: 1000;
    color: white;
    mix-blend-mode: difference;
}
